!!!
/[if lt IE 7]
  %html.no-js.ie6.oldie{:lang => 'en'}
/[if IE 7]
  %html.no-js.ie7.oldie{:lang => 'en'}
/[if IE 8]
  %html.no-js.ie8.oldie{:lang => 'en'}
/[if gt IE 8]
  %html.no-js{:lang => 'en'}

%head
  %meta{'charset' => 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}
  %title Bookswapped.com - A Book Price Comparison Website
  %meta{'name' => 'description', 'content' => 'A textbook price comparison website.'}
  %meta{'name' => 'author', 'content' => 'Ryan Closner'}

  %meta{'property' => 'og:title', 'content' => 'SPUBooks.com - A textbook/book price comparison website.'}
  %meta{'property' => 'og:description', 'content' => 'A textbook/book price comparison website written by an SPU student, for SPU students.'}
  %meta{'property' => 'og:image', 'content' => 'http://ecx.images-amazon.com/images/P/0547167024.01._SCMZZZZZZZ_.jpg'}
  %meta{'property' => 'og:type', 'content' => 'book'}
  %meta{'property' => 'og:url', 'content' => 'http://spubooks.com'}

  = csrf_meta_tag

  %link{'rel' => 'dns-prefetch',  'href' => '//ajax.googleapis.com'}
  %link{'rel' => 'shortcut icon', 'href' => '/favicon.ico'}
  %link{'rel' => 'apple-touch-icon.png', 'href' => '/apple-touch-icon.png'}
  %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Nixie+One|Dawning+of+a+New+Day|Open+Sans', 'type' => 'text/css'}

  = stylesheet_link_tag :application

%body{:class => body_class }
  #container.container_24
    %header#header
      #logo.left
        = link_to '/' do
          %h1{:title => 'Bookswapped.com'} Bookswapped.com
      #menu.right
        %nav= render :partial => 'layouts/menu'

    #main{:role => 'main'}
      = yield

  %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'}
  %script{:src => '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js'}
  :javascript
    window.jQuery || document.write("<script src='/assets/jquery-1.6.2.min.js'><\/script>")

  = javascript_include_tag :application

  :javascript
    var _gaq=[['_setAccount','UA-11498024-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));

  /[ if lt IE 7]
    %script{:src => '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'}
    %script window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

= yield :after_load
